@font-face {
	font-family: UniSansHeavy;
	font-display: swap;
	src: url("../fonts/UniSansHeavy.woff2") format("woff2"), url("../fonts/UniSansHeavy.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
